* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.b {
  color: white;
}

.container-top {
  display: flex;
}

/* INIZIO ASIDE */

aside {
  background-color: #000000;
  width: 200px;
  /* height: 90vh; */
  height: calc(100vh - 60px);
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  color: #b3b3b3;
  position: relative;
  overflow: auto;
}

aside .logo{
  margin-bottom: 20px;
}
aside .logo img{
  height: 40px;
}

aside .icon-box{
  display: flex;
  font-size: 16px;
  margin-top: 10px;
}

aside .playlist .icon-box {
  margin-top: 10px;
}

aside .icon-box i{
  margin-right: 15px;
}

aside .playlist {
  margin-top: 20px;
}

aside .playlist .icon-box i {
  font-size: 35px;
}

aside .playlist .icon-box p {
  justify-content: center;
  align-self: center;
}
aside .playlist ul {
  margin-top: 10px;
}
aside .playlist ul li{
  list-style: none;
  font-size: 14px;
  margin-bottom: 7px;
}

aside .aside-bottom {
  position: absolute;
  bottom:0;
  right: 0;
  left: 0;
  padding: 10px;
  background-color: black;
}

aside .aside-bottom .icon-box:first-of-type{
  margin-bottom: 10px;
}

aside .aside-bottom hr {
  margin-bottom: 10px;
}

aside .activelinehome {
  height: 20px;
  width: 2px;
  background-color: #90d32c;
  border-radius: 20px;
  position: absolute;
  left: 0;
  /* top: 15%; */
}

/* FINE ASIDE */

/* INIZIO MAIN */
main {
  background-color: #141922;
  /* height: 90vh; */
  height: calc(100vh - 70px);
  width: calc(100% - 200px);
  overflow-y: auto;
  /* padding-top: 70px; */
  margin-top: 70px;
  padding: 15px 30px;
  color: #ffffff;
}

 main .main-top {
   height: 70px;
   background-color: #080b12;
   position: absolute;
   top: 0;
   left: 200px;
   right:0;
   display: flex;
   justify-content: flex-end;
 }

 main .main-top button {
   text-transform: uppercase;
   height: 30px;
   align-self: center;
   background-color: transparent;
   border: 1px solid white;
   color: white;
   padding: 0 20px;
   border-radius: 25px;
 }
 /* FINE MAIN */

/* NAVBAR */
nav {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

main nav ul li {
  list-style: none;
  width: 130px;
  float: left;
  margin-bottom: 10px;
  position: relative;
}

main nav ul li button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  border: none;
  background-color: transparent;
  color: #b3b3b3;
  margin: 0 10px;
}

main nav ul li .activeline {
  width: 20%;
  height: 2px;
  background-color: #90d32c;
  border-radius: 20px;
  position: absolute;
  left: 42%;
}

/* FINE NAVBAR */
.row {
  margin-bottom: 25px;
}

.row .album {
  width: 130px;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
}

.row .album .album-img{
  height: 130px;
  width: 130px;
}

.row .album .album-img img{
  height: 130px;
  width: 130px;
  object-fit: cover;
}

.row .album .album-text {
  height: 50px;
  width: 130px;
  /* text-align: center; */
}

.row .album .artist {
  border-radius: 50%;
}

small {
  color: #65696d;
}

h4 {
  margin-top: 5px;
  overflow: hidden;
}

/* MAIN HOVER */
.ms-overlay  {
  display: none;
}

.album-img {
  position: relative;
}

.album-img:hover .ms-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 18, 15, 0.7);
}

.ms-overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 45px;
  color: white;
}
/* FINE MAIN HOVER */

/* INIZIO PLAYER */
.player {
  background-color: #282828;
  width: 100vw;
  /* height: 10vh; */
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0 ;
  z-index: 10;
}

.player .player-box {
  width: 350px;
  height: 100%;
  /* border: 1px solid tomato; */
  color: white;
}
.nowplaying {
  display: flex;
  align-items: center;
  color: white;
}

.player .player-box .player-box-img{
  width: 60px;
  height: 58px;
  object-fit: contain;
  padding: 7px;
}

.player .player-box .player-box-img img{
  height: 45px;
  width: 45px;
}

.player .player-box .player-box-text{
  float: left;
}
.player .player-box .player-box-icons{
  margin-left: 45px;
}

.player .player-box .player-box-icons i{
  margin-left: 5px;
}

.player-box .p-top {
  height: 50%;
  width: 100%;
  text-align: center;
  line-height: 30px;
}

.player-box .p-top i {
 margin: 0 10px;
}

.player-box .p-top i:nth-child(3) {
 font-size: 25px;
 margin-top: 5px;
}

.player-box .p-bottom {
  height: 48%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;

}

.player-box .p-bottom .bar {
  height: 5px;
  width: 80%;
  background-color: gray;
  margin: 0 10px;
  border-radius: 20px;
}

.player-box .p-bottom .bar .barcol{
  height: 5px;
  width: 25%;
  background-color: white;
  border-radius: 20px;
}

.player-box .center{
  align-items: center;
}

.player-box .right  {
  display: flex;
}

.player .volume-box {
  display: flex;
  text-align: right;
  width: 100%;
  justify-content: flex-end;
  margin-top: 20px;
}

.player .volume-box i {
  margin-left: 10px;
}

.player-box .volume-box .volbar {
  width: 30%;
  height: 5px;
  background-color: gray;
  margin: 0 10px;
  border-radius: 20px;
  align-self: center;
}

.player-box .volume-box .volbar .volbarcol{
  width: 80%;
  height: 5px;
  background-color: white;
  border-radius: 20px;
  align-self: center;
}
/* FINE PLAYER */


@media screen and (max-width: 768px ) {

  aside  {
    width: 70px;
    padding: 0;
  }

  aside .icon-box {
    display: block;
    text-align: center;
    margin-left: 14px;
  }

  aside .icon-box i:last-of-type {
    font-size: 25px;
  }

  aside .sidebar p , aside ul , .playlist h4 , .icon-box small {
    display: none;
    padding-left: 35px;
  }

  aside .logo img {
    height: 50px;
    margin-top: 10px;
    margin-left: 12px;
  }

  aside .aside-bottom hr {
    width: 105%;
  }

  main .main-top {
    left: 70px;

  }

  main  {
    width: calc(100% - 70px);
  }

  .player-box .nowplaying .player-box-icons {
    margin-left: 20px;
  }

  .center {
    min-width: 201px;
  }
}
