* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.b {
  color: white;
}

.container-top {
  display: flex;
}

aside {
  background-color: #000000;
  width: 200px;
  /* height: 90vh; */
  height: calc(100vh - 60px);
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  color: #b3b3b3;
  position: relative;
  overflow: auto;
}

aside .logo{
  margin-bottom: 20px;
}
aside .logo img{
  height: 40px;
}

aside .icon-box{
  display: flex;
  font-size: 16px;
  margin-top: 10px;
}

aside .playlist .icon-box {
  margin-top: 10px;
}

aside .icon-box i{
  margin-right: 15px;
}

aside .playlist {
  margin-top: 20px;
}

aside .playlist .icon-box i {
  font-size: 35px;
}

aside .playlist .icon-box p {
  justify-content: center;
  align-self: center;
}
aside .playlist ul {
  margin-top: 10px;
}
aside .playlist ul li{
  list-style: none;
  font-size: 14px;
  margin-bottom: 7px;
}

aside .aside-bottom {
  position: absolute;
  bottom:0;
  right: 0;
  left: 0;
  padding: 10px;
  background-color: black;
}

aside .aside-bottom .icon-box:first-of-type{
  margin-bottom: 10px;
}

aside .aside-bottom hr {
  margin-bottom: 10px;
}

main {
  background-color: #141922;
  /* height: 90vh; */
  height: calc(100vh - 70px);
  width: calc(100% - 200px);
  overflow-y: auto;
  /* padding-top: 70px; */
  margin-top: 70px;
  padding: 15px 30px;
  color: #ffffff;
}

 main .main-top {
   height: 70px;
   background-color: #080b12;
   position: absolute;
   top: 0;
   left: 200px;
   right:0;
   display: flex;
   justify-content: flex-end;
 }

 main .main-top button {
   text-transform: uppercase;
   height: 30px;
   align-self: center;
   background-color: transparent;
   border: 1px solid white;
   color: white;
   padding: 0 20px;
   border-radius: 25px;
 }
/* NAVBAR */
nav {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

main nav ul li {
  list-style: none;
  width: 130px;
  float: left;
  margin-bottom: 10px;
}

main nav ul li button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  border: none;
  background-color: transparent;
  color: #b3b3b3;
  margin: 0 10px;
}
/* FINE NAVBAR */


.row .album {
  /* height: 10px; */
  width: 130px;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}

.row .album .album-img{
  height: 130px;
  width: 130px;
}

.row .album .album-img img{
  height: 130px;
  width: 130px;
  object-fit: cover;
}

.row .album .album-text {
  height: 50px;
  width: 130px;
  text-align: center;
}

.banner {
  background-color: #282828;
  width: 100vw;
  /* height: 10vh; */
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0 ;
  z-index: 10;
}

.banner .banner-box {

  width: 300px;
  height: 100%;
  border: 1px solid tomato;
}
