* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.b {
  color: white;
}

.container-top {
  display: flex;
}

aside {
  background-color: #000000;
  width: 200px;
  height: 85vh;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  color: #b3b3b3;
  position: relative;
}

aside .logo{
  margin-bottom: 20px;
}
aside .logo img{
  height: 40px;
}

aside .icon-box{
  display: flex;
  font-size: 16px;
  margin-top: 10px;
}

aside .playlist .icon-box {
  margin-top: 10px;
}

aside .icon-box i{
  margin-right: 15px;
}

aside .playlist {
  margin-top: 20px;
}

aside .playlist .icon-box i {
  font-size: 35px;
}

aside .playlist .icon-box p {
  justify-content: center;
  align-self: center;
}
aside .playlist ul {
  margin-top: 10px;
}
aside .playlist ul li{
  list-style: none;
  font-size: 14px;
  margin-bottom: 7px;
}

aside .aside-bottom {
  position: absolute;
  bottom:0;
  right: 0;
  left: 0;
  padding: 10px;
}

aside .aside-bottom .icon-box:first-of-type{
  margin-bottom: 10px;
}

aside .aside-bottom hr {
  margin-bottom: 10px;
}

main {
  background-color: pink;
  height: 85vh;
  width: calc(100% - 200px);
}

.banner {
  background-color: #282828;
  width: 100vw;
  height: 15vh;
}
